.base {
  display: flex;
  flex-direction: row;

  &__content {
    max-width: -webkit-fill-available;
    width: 100%;
    padding: 20px 20px 20px 70px;
    display: flex;
    flex-direction: column;
  }
}